.sympt {
    margin-top: 10em;
    width: 50%;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin-top: 2em;
        font-size: 25px;
        font-weight: 700;
        color: $btn_color;
    }


    &__flex {
        margin-top: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__items {
            max-width: 50%;
            margin-top: 20px;
        }



        h5 {
            font-size: 1.2em;
            text-align: center;

        }


    }
}